.itemContent{
    margin:10px
}

.itemCell{
    display:table-cell;
    border-top-style:solid;
    border-bottom-style :solid;
    border-left-style : none;
    border-right-style : none;
}

.itemCell:first-child{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-left-width : 10px;
    border-left-style : solid;
    }
    
.itemCell:last-child{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-right-width : 10px;
    border-right-style : solid;
    border-left-style:solid;
    }

.itemRowContainer{
     display : table-row;
     width : 100%;
}

.itemListContainer{
        display : table;
}

#itemListContainer{
    width:70%;
    margin :auto;
}

#addDTOContainer{
    width:50%;
    margin :auto;
}